.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
}

.modal-content {
    background: #fff;
    padding: 24px;
    border-radius: 12px;
    width: 90%;
    max-width: 360px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    box-sizing: border-box;
}

/* Title */
.modal-content h2 {
    margin: 0 0 8px 0;
}

/* Fix input inside modal */
.modal-content input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    outline: none;
    box-sizing: border-box;
}

/* Input Group Wrapper */
.input-group {
    width: 100%;
    overflow: hidden;
    /* prevents mic button sticking out */
    box-sizing: border-box;
    margin-bottom: 10px;
}

/* Input inside group */
.input-field {
    flex: 1;
    border: none;
    outline: none;
    font-size: 20px;
    padding: 10px 8px;
    box-sizing: border-box;
    border: 1px solid #ccc !important;
    border-radius: 8px;
    margin-top: 10px !important;
}


/* Cancel button */
.btn-cancel {
    background: #ffe5e5;
    color: #d9534f;
    padding: 8px 14px;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.btn-cancel:hover {
    background: #ffd6d6;
}

/* Add button */
.btn-add {
    background: #007bff;
    color: #fff;
    padding: 8px 16px;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600;
}

.btn-add:hover {
    background: #006ae0;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 12px;
    margin-top: 8px;
}
